table, th, td {
    border:2px solid black;
  }
h4
  {
    
    display:flex;
    font-size: 1.0rem;
    background-color: #2b3574;
    padding: 1rem;
    transform: rotate(-4deg);
    z-index: 1;
    margin-top: -20px;
    width: 140px;
    position: relative;
    text-align: center;
}
img{
    width:100px;
    margin-left: 25px;
}
a{
  
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}